   .container {
   padding: 2rem;
}
.cell1 {
  background-color: #BDDAB3;
  padding: 1rem;
}
.cell1 a {
   font-size: 1.2rem;
   font-weight: bold;
}
.cell2 {
  background-color: #d5e7f7;
  padding: 1rem;
}
.cell3 {
  background-color: #ffff;
  padding: 1rem;
}
h4 {
   color:#3466ee;
   line-height: 1rem;
}
.grid {
  display: grid;
  grid-template-columns: 3fr 10fr 10px;
  grid-gap: 1rem;
}
a {
   text-decoration: none;
   font-size: 1rem;
   font-weight:400;
   color: rgb(66, 66, 66); 
   line-height: 2.2rem;
 }
 a:hover {
   color: red;
   background-color: transparent;
   text-decoration: underline;
}
aside {
   position:fixed;
   height:100%; 
  
}
.tab1 {
   margin-left: 2rem;  
   font-size: 0.9rem;
   font-style: italic;
   line-height: 0.8rem;
}
h3 {
   line-height: 0.5rem;
}
.frequentdl {
   color:chocolate
}