body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem; /* 14px */
    line-height: 1.313rem; /* 21px */
    color: #666;
}
.container {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-right: 3 rem;
}
a:link {
color: rgb(33, 33, 255);
text-decoration: none;
display: inline-block;
}
a:visited {
color: rgb(150, 150, 0);
text-decoration: none;
display: inline-block;
}
a:hover, a:active {
background-color: green;
color: white;
}
 h4 {
    color:#3466ee;
    line-height: 1rem;
 }
 h3 {
    font-size: 1rem;
    line-height: 0.5rem;
 }